@import url("https://fonts.googleapis.com/css2?family=Arima+Madurai&family=Rampart+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Arima+Madurai&family=Averia+Sans+Libre:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300&display=swap");

/* TEXTS */

h1 {
  font-family: "Rampart One", cursive;
  font-size: 100px;
  margin-block-start: 0;
  margin-block-end: 0;
}

h2,
h4,
h3 {
  font-family: "Averia Sans Libre", cursive;
}

p {
  font-family: "Roboto Slab", serif;
}

.about-us-container > p {
  max-width: 70%;
  margin: auto;
}

a {
  font-size: 16px;
  color: #ffffff;
}

/* HEADING */

.inline {
  display: flex;
  flex-direction: row;
}

.inline img {
  width: 145px;
  height: 145px;
  margin-right: 20px;
}

/* COMMUNITY STORIES */

.story-image {
  height: auto;
  width: auto;
  max-height: 40%;
  max-width: 100%;
  border-radius: 15px
}

.hero-image {
  height: 400px;
  width: 500px;
}

.stories {
  display: flex;
  width: 100%;
  justify-content: space-around;
}

.community-story {
  width: 25%;
}

.button-container {
  display: flex;
  justify-content: space-evenly;
}

.about-us-container {
  border: 1px solid black;
  margin: 30px;
  background: rgba(204, 204, 204, 0.5);
}

input {
  align-items: center;
  background-color: #fee6e3;
  border: 2px solid #111;
  border-radius: 8px;
  box-sizing: border-box;
  color: #111;
  cursor: pointer;
  display: flex;
  font-family: Inter, sans-serif;
  font-size: 16px;
  height: 48px;
  justify-content: center;
  line-height: 24px;
  max-width: 100%;
  padding: 0 25px;
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

input:after {
  background-color: #111;
  border-radius: 8px;
  content: "";
  display: block;
  height: 48px;
  left: 0;
  width: 100%;
  position: absolute;
  top: -2px;
  transform: translate(8px, 8px);
  transition: transform 0.2s ease-out;
  z-index: -1;
}

input:hover:after {
  transform: translate(0, 0);
}

input:active {
  background-color: #ffdeda;
  outline: 0;
}

input:hover {
  outline: 0;
}

@media (min-width: 768px) {
  .button-56 {
    padding: 0 40px;
  }
}

/* button {
  position: relative;
  display: block;
  color: #fff;
  margin: 0 auto;
  background: #168aad;
  font-size: 18px;
  text-align: center;
  font-style: normal;
  width: 50%;
  border: 1px solid #1a759f;
  border-width: 1px 1px 3px;
  margin-bottom: 10px;
} */

button {
  background: #168aad;
  border: 1px solid #1a759f;
  color: #fff;
  align-items: center;
  border-radius: 8px;
  box-sizing: border-box;
  color: #111;
  cursor: pointer;
  display: flex;
  font-family: Inter, sans-serif;
  font-size: 16px;
  height: 48px;
  justify-content: center;
  line-height: 24px;
  max-width: 380px;
  padding: 0 25px;
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

button:after {
  background-color: #111;
  border-radius: 8px;
  content: "";
  display: block;
  height: 48px;
  left: 0;
  width: 100%;
  position: absolute;
  top: -2px;
  transform: translate(8px, 8px);
  transition: transform 0.2s ease-out;
  z-index: -1;
}

button:hover:after {
  transform: translate(0, 0);
}

button:active {
  background-color: #b5e48c;
  outline: 0;
}

button:hover {
  outline: 0;
}

@media (min-width: 768px) {
  .button-56 {
    padding: 0 40px;
  }
}

.heading-section {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 260px;
  padding-top: 100px;
  background: #99d98c;
}

.section-title {
  font-family: "Rampart One", cursive;
  font-size: 36px;
  padding: 20px;
}
