@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300&display=swap');

/* HEADER */

.float-left a, .float-right a {
  text-align: center;
  color: white;
  font-family: 'Roboto Slab', serif;
  margin-left: 5px;
  margin-right: 5px;
}

main {
  display: flex;
  text-align: center;
  flex-direction: column;
  background: #99D98C;
  padding: 50px;
}

.nav-bar {
  display: flex;
  background-color: #1A759F;
}

ul {
  list-style: none;
  display: flex;
  justify-content: space-between;
  width: 100%;
}

a {
  text-decoration: none;
  display: inline-block;
}

.social-container {
  display: flex;
  justify-content: center;
  margin: 16px 5px;
}

.nav-icon {
  height: 40px;
  width: 40px;
  margin-top: auto;
  margin-bottom: auto;
  margin-left: 10px;
}

.social-container .nav-icon {
  margin-top: 10px;
}

.float-left {
  display: flex;
  justify-content: flex-start;
}

.float-right {
  display: flex;
  justify-content: flex-end;
}
.float-right:last-child{
  padding-right: 15px;
}

/* FOOTER */

.footer {
  text-align: center;
  color: white;
  font-family: 'Roboto Slab', serif;
  margin-left: 5px;
  margin-right: 5px;
}

.footer {
  background-color: #1A759F;
  background-blend-mode: soft-light;
}

p.footer {
  font-weight: bolder;
  padding: 20px;
}

/* Rounding the edges around the main section */

.rounded-corners-bottom {
  height: 40px;
  width: 100%;
  background-color: white;
}

.rounded-corners-bottom-curve {
  height: 40px;
  width: 100%;
  background-color: #99D98C;
  border-radius: 0% 0% 200% 200%;
}

.rounded-corners-top {
  height: 40px;
  width: 100%;
  background-color: #1A759F;
}

.rounded-corners-top-curve {
  height: 40px;
  width: 100%;
  background-color: #99D98C;
  border-radius: 200% 200% 0% 0%;
}
